.stepper-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 16px 0px 16px;
}
.stepper-footer-summary {
    display: flex;
    justify-content: end;
}
.stepper-footer-buttons {
    display: flex;
    justify-content: space-between;
}
.MuiStepLabel-horizontal {
    background-color: #DAE7FF;
    border-radius: 32px;
    padding: 8px 16px 8px 12px;
    border: solid 1px var(--color-primary);
}