.container-drawer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 240px;
    background-color: #fff;
    padding: 40px 24px 40px 24px;
    border-bottom: 1px solid #ECEFF3;
    min-height: 100vh;
}
.sub-container-drawer {
    position: fixed;
    z-index: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container-item {
    display: flex;
    align-items: center;
    gap: 4px;
}
.subttle {
    font-size: 12px;
    font-weight: 400;
}
.icon{
    opacity: 64%;
}
.options {
    font-weight: 600;
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 1007px) {
    .container-drawer {
        display: none;
    }
}