.content-add-collaborators-manually {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.container-form-collaborators {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.list-form{ 
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.container-form-add-manually {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.content-form-add-manually {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-add-collaborators-manually {
    display: flex;
    justify-content: space-between;
}
.footer-save-add-collaborators-manually {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-basis: 63%;
}
.text-save {
    font-size: 12px;
    line-height: 12.6px;
    text-align: right;
}
@media (max-width: 1007px) {
    .footer-save-add-collaborators-manually {
        flex-basis: 0;
    }
    .footer-save-add-collaborators-manually > p{
        display: none;
    }
}