.input-text, .input {
    background-color: #fff;
    border: 1px solid #9E9E9F;
    border-radius: 8px;
}
.input-text:hover {
    background-color: #ffffff;
}
.invalid-input {
    border: 1px solid var(--color-danger);
    border-radius: 8px;
}
.MuiFilledInput-root::before {
    border-bottom: none;
}
.MuiFilledInput-root::after {
    border-bottom: none;
}
.MuiFilledInput-root {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 600;
}
.MuiFilledInput-root > input:hover{
    border:none !important;
}
